@import url('https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbWVObERzSmQ3YkZOYzhfUWNwNmdHc0hJN3dfd3xBQ3Jtc0ttVVdreU4tbmhLQzV5MFVLcmptaDN4OTAxQ3NvX3pKS1ZnSnM1WnliVkwxdVNqeHd2RzhRSDFodTd0ZFkyQU0wbXBSdXRoU0F4MHAyb1gyV3RBT29UbW1tV01JeVFsaTBzcVVLVnFUTUtocjFVbUlEYw&q=https%3A%2F%2Ffonts.googleapis.com%2Fcss2%3Ffamily%3DPoppins%3Awght%40100%3B200%3B300%3B400%26display%3Dswap%27%29%3B&v=qKWApkuhNu8');

:root{/*colors*/
    --color-light-50: #f8fafc;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    --color-purple-50: #7c3aed;
    --color-purple-100: #a855f7;
    --color-purple-200: #bf46ef;

    --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100,var(--color-purple-200)));

}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{ /*background*/
    height: 100vh; 
    width: 100%;
    background:var(--color-gradient) ;
    display:flex;
    align-items: center;
    justify-content: center;
} 

#loginForm{/*retancle*/
    background-color: var(--color-light-50);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px; /*mantém o mesmo espaçamento*/
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.336);
}

#formHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#formHeader h1{
    font-size: 40px;
    position: relative;

}

#formHeader h1::before{/*purple line*/
    position: absolute;
    content: '';
    width: 40%;
    height: 3px;
    background-color: var(--color-purple-50);
    bottom: 10px;
    border-radius: 5px;
}

#modeIcon{/*moon*/
    cursor: pointer;
    font-size: 20px;
}

#socialMedia{
    display: flex;
    justify-content: space-around;
}

#socialMedia img{
    width: 35px;
}

#socialMedia img:hover{
    transform: scale(1.2);
}

#inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.inputBox{
    font-size: 14px;
    color: var(--color-dark-50);
}

.inputField{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-purple-50);
}

.inputField i{/*icons*/
    font-size: 18px;
    color: var(--color-dark-900);
}

.inputField input{/*input box*/
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 18px;
    padding:0 5px;
}
.inputField input:focus{
    outline: none;
}

#forgotPassword a{
    text-decoration: none;
    font-size: 12px;
    color: var(--color-dark-50);
}

#forgotPassword a:hover{
    color: var(--color-purple-50);
}

#loginButton{
    border: none;
    background: var(--color-gradient);
    color: var(--color-light-50);
    padding: 7px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

#loginButton:hover{
    transform: scale(1.05);
}

.dark#loginForm{
    color: var(--color-light-50);
    background-color: var(--color-dark-100);

}

.dark#loginForm .inputField input, 
.dark#loginForm .inputField i{
    color: var(--color-light-50);
}
